.connections {
      position: fixed;
      top: 13%;
      left: 0;
      margin: 10px;
      z-index: 10000;
      border-radius: 3px;
      width: 50px;
      ul {
            @include flexbox($justifyContent: space-between, $direction: column, $alignItems: center);
            background: rgb(2, 0, 36);
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.3533788515406162) 35%,rgba(221, 221, 221, 1) 55%);
            border-radius: 20px;

            li {
                  &:nth-child(1) {
                        //background: #edf7ff;
                        //padding: 5px 10px;
                        img {
                              filter: grayscale(0);
                              transform: scale(1);
                              @keyframes shake {
                                    10%,
                                    90% {
                                          transform: translate3d(-1px, 0, 0);
                                    }
                                    20%,
                                    80% {
                                          transform: translate3d(2px, 0, 0);
                                    }
                                    30%,
                                    50%,
                                    70% {
                                          transform: translate3d(-4px, 0, 0);
                                    }
                                    40%,
                                    60% {
                                          transform: translate3d(4px, 0, 0);
                                    }
                              }
                              &:hover {
                                    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
                                    transform: translate3d(0, 0, 0);
                                    backface-visibility: hidden;
                                    perspective: 1000px;
                              }
                        }
                  }
                  padding: 10px 10px;

                  img {
                        //filter: grayscale(0.5);
                        cursor: pointer;
                        transform: scale(0.95);

                        &:hover {
                              //filter: grayscale(0);
                              transform: scale(1);
                              transition: all 0.5s ease-in-out;
                        }
                  }
            }
      }
}
