<template>
      <div class="connections">
            <ul class="social_icons">
                  <li>
                        <a href = "tel:+989350672745" target="_blank">
                              <img
                                    class="full-width"
                                    src="@/assets/social_icons/call.svg"
                                    alt="call"
                              />
                        </a>
                  </li>
                  <li>
                        <a href="https://instagram.com/sazino_group" target="_blank">
                              <img
                                    class="full-width"
                                    src="@/assets/social_icons/instagram.svg"
                                    alt="instagram"
                              />
                        </a>
                  </li>
                  <li>
                        <a href="https://wa.me/+989350672745" target="_blank">
                              <img
                                    class="full-width"
                                    src="@/assets/social_icons/whatsapp.svg"
                                    alt="whatsapp"
                              />
                        </a>
                  </li>
                  <li>
                        <a href="https://linkedin.com/in/hassan-pudineh" target="_blank">
                              <img
                                    class="full-width"
                                    src="@/assets/social_icons/linkedin.svg"
                                    alt="linkedin"
                              />
                        </a>
                  </li>
                  <li>
                        <a href="https://t.me/hsn_pdn" target="_blank">
                              <img
                                    class="full-width"
                                    src="@/assets/social_icons/telegram.svg"
                                    alt="telegram"
                              />
                        </a>
                  </li>
            </ul>
      </div>
</template>

<script>
export default {
      name: "connections",
};
</script>

<style lang='scss'>
@import "connection";
</style>