@import './font-size';
@import './font-weight';
@include font-face(shabnam, "/fonts/Shabnam-FD", $weight: normal);
@include font-face(shabnam, "/fonts/Shabnam-Bold-FD", $weight: bold);
@include font-face(shabnam, "/fonts/Shabnam-Light-FD", $weight: 300);