<template>
      <div id="app">
            <component :is="`${device}Header`"></component>

            <router-view></router-view>

            <component :is="`${device}Footer`"></component>
      </div>
</template>

<script>
import device from './mixins/mobileChecker';
//import AppHeader from `@/components/app-header/${this.device}-header/${this.device}-header.vue`;
//import AppFooter from '@/components/app-footer/app-footer.vue';
export default {
      name: "App",
      mixins: [device],
      components: {
            mobileFooter : ()=> import('@/components/app-footer/mobile-footer/mobile-footer'),
            desktopFooter : ()=> import('@/components/app-footer/desktop-footer/desktop-footer'),
            mobileHeader : ()=> import('@/components/app-header/mobile-header/mobile-header'),
            desktopHeader : ()=> import('@/components/app-header/desktop-header/desktop-header'),
      },
      data(){
            return {
                  device: ''
            }
      },
      created(){
            this.device = this.isMobile();
            console.log(this.$store)
      }
};
</script>

<style>

#app {
      margin: 0 auto;
      width: 100%;
      height: 100vh;
}

</style>
